[Unit]
Description=Xbox One Controller Fixer for Arch Linux

[Service]
PrivateUsers=true
User=root
ProtectHome=true
ExecStart=/bin/sh -c 'echo 1 > /sys/module/bluetooth/parameters/disable_ertm'
ExecStart=/bin/sh -c 'echo Flipped disable_ertm value to 1'
ExecStop=/bin/sh -c 'echo 0 > /sys/module/bluetooth/parameters/disable_ertm'
ExecStart=/bin/sh -c 'echo Flipped disable_ertm value to 0'

Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
